.buttons {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
